.future_data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0px;
  padding: 4px 0px;
  width: 100%;
  font-size: 12px;
}

.future_temp {
  font-size: 16px;
  margin-left: 6px;
}

sup {
  font-size: 10px;
}

.forecast {
  width: 100%;
}
