.sqCard {
  width: 140px;
  background-color: #0d0d0da2;
  margin: 4px;
  border-radius: 12px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_title {
  color: #ffffff59;
  font-size: 12px;
}

.icon_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
