.highlight {
  width: 100%;
  padding: 12px 15px;
  border-radius: 15px;
}

.highlight_left_container,
.highlight_right_container {
  background-color: #0d0d0da2;
  border-radius: 5px;
  width: 45%;
  height: fit-content;
}

.highlight_label {
  margin: 12px 0px;
}

.qualtity_type {
  background-color: #4dd637;
  color: #000000;
  font-weight: 400;
  padding: 4px 10px;
  border-radius: 50px;
  width: 65px;
  height: 28px;
}

.airlable_container {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.airlabel {
  color: #ffffff59;
  margin: 5px;
}

.highlight_divider {
  width: 100%;
  height: 2px;
  background-color: white;
  margin-bottom: 20px;
}

.airdata {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

AirIcon {
  font-size: 40px;
}

.airtype_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
}

.uppercontainer {
  display: flex;
  justify-content: space-around;
}

.lowercontainer {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.sunrise_sunset {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  padding-bottom: 8px;
}

.sunrise,
.sunset {
  width: 160px;
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.sun_time,
.moon_time {
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
}

.sunset_time,
.sunrise_time {
  font-size: 20px;
}

.lowercontainer {
  padding: 5px 25px;
}
