form {
  background-color: #242b2e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  width: fit-content;
  border-radius: 25px;
}

input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 21px;
  font-weight: 100;
  padding: 0px 10px;
}

input::placeholder {
  font-size: 14px;
}

@media Screen and (max-width: 425px) {
  input {
    width: 80%;
  }
}
